<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}" ></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<script th:src="@{/assets/js/hope-ui.js}" defer></script>